@mixin border-box {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin font-face($font-folder, $font-family) {
 @font-face {
   font-family: $font-family;
     src: url('../fonts/#{$font-folder}/#{$font-family}.ttf') format('truetype');
 }
}
@mixin font($font, $style, $weight) {
   font-family: $font;
   font-style:  $style;
   font-weight: $weight;
}

%clearfix {
    *zoom: 1;
    &:before, 
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//media queries
$scr-360: 360px;
$scr-767: 767px;
$scr-768: 768px;
$scr-840: 840px;
$scr-925: 925px;
$scr-1023: 1023px;
$scr-1024: 1024px;
$scr-1084: 1084px;

@mixin scr-360 {
  @media (max-width: #{$scr-360}) {
    @content;
  }
}

@mixin scr-767 {
  @media (max-width: #{$scr-767}) {
    @content;
  }
}

@mixin scr-768 {
  @media (min-width: #{$scr-768}) {
    @content;
  }
}

@mixin scr-840 {
  @media (max-width: #{$scr-840}) {
    @content;
  }
}

@mixin scr-925 {
  @media (max-width: #{$scr-925}) {
    @content;
  }
}

@mixin scr-1023 {
  @media (max-width: #{$scr-1023}) {
    @content;
  }
}

@mixin scr-1024 {
  @media (min-width: #{$scr-1024}) {
    @content;
  }
}

@mixin scr-1084 {
  @media (max-width: #{$scr-1084}) {
    @content;
  }
}