// grid variables
$grid-columns: 12;
$grid-max-width: 1024px;

//color variables
$color: #3b3c3b;


// breakpoints
$breakpoint-xsmall: "ony screen and (max-width: 767px)";
$breakpoint-small: "only screen and (min-width: 768px)";
$breakpoint-medium: "only screen and (min-width: 1024px)";
 