@import "variables";
@import "mixins";
@include font-face(calibri,calibri);
@include font-face(RobotoSlab,RobotoSlab-Bold);
@include font-face(OpenSans,OpenSans-Regular);
@include font-face(calibri,calibri);
@include font-face(calibri,calibrii);
@include font-face(calibri,calibrib);
@include font-face(Georgia,georgiai);
@include font-face(Georgia,georgiaz);
@include font-face(Helvetica,HelveticaNeueLight);
@include font-face(Helvetica,HelveticaNeueBold);



 
*, *:after, *:before {
    margin: 0;
    padding: 0;
    @include border-box;
}
 
img {
    width: auto;
    max-width: 100%;
    height: auto !important; 
}  

a {
    text-decoration: none;
} 
 
.container {
    width: 100%;
    margin: 0 auto;
    @include scr-1024 {      
        width: 95%;
        max-width: $grid-max-width;     
        padding: 0;
    }
    @include scr-1023 {
        width: 96%;
        padding: 0 2%;
    }
}
 
.container, .row {
    @extend %clearfix;
}
      
[class*='column-'] {
    float: left;
    padding: 1em;
    width: 100%;
    min-height: 1px; 
}

.pull-left {
    float: left;
} 

.pull-right {
    float: right;
}

section {
    padding: 10px 0;
}

.no-padding {
    padding: 0;
}
/*-----------------------------------SEARCH-----------------------*/
.search {
  position: relative;
  color: #aaa;
    input {
        width: 250px;
        height: 32px;
        padding: 0 40px 0 15px;
        border: 1px solid #d7d7d7;
        outline: none;
         @include border-radius(10px);
    }
    .search-icon { 
        position: absolute;
        top: 7px;
        right: 10px;
        background: url('../images/search_icon.png');
        width: 24px;
        height: 17px;
    }
}
.top-menu-wrapper {
    margin: 20px 0 0 0;
}

/*----------------------Header social links------------------------*/
.site-brand {
    margin: 20px 0 10px 0;
    img {
        @include scr-925 {
            width: 330px;
        }
        @include scr-840 {
            width: 270px;
        }
        @include scr-360 {
            width: 205px;
        }
    }
}

.header-bottom-cnt {
    clear: both;
    margin: 15px 0 0 0;
    @include scr-767 {
        display: none;
    }
}

header {
    .social-links li {
        vertical-align: top;
        display: inline;
        a {
            display: inline-block;
        }
        .social-ico {
            width: 28px;
            height: 28px;
            display: inline-block;
            background-image: url('../images/socialIcon_top.png');
        }
    }
    .youTube-icon {
        background-position: -1px -1px;
    }
    .facebook-icon {
        background-position: -34px -1px;
    }
    .linkedIn-icon {
        background-position: -66px -1px;
    }
    .twitter-icon {
        background-position: -98px -1px;
    }
}

.top-menu {
    margin: 5px 0 0 0;
    ul {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    margin: 0;
    display: inline-block;

        li {
            display: inline-block;
            position: relative;
            padding: 0 10px 0 5px;
            text-transform: uppercase;

            &:after {
                content: "";
                display: block;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -4px;
                background: #616161;
                height: 7px;
                width: 1px;
            }
            &:last-child {
                padding-right: 0;
                &:after {
                    display: none;
                }
            }
            a  {
                    @include font(calibri, normal, 300);
                    color: #686868;
                    font-size: 12px;
                    text-decoration: none;
            }

        }

    }
}



/*--------------------------- Nav----------------------------------- */
.nav-trigger {
    display: none;
    text-align: right;
    float: right;
    position: absolute;
    top: 25px;
    right: 15px;
    span {
        display: inline-block;
        padding: 10px 30px;
        background: none;
        color: rgb(255,255,255);
        cursor: pointer;
        text-transform: uppercase;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 0.25em;
            right: 0;
            width: 1.95em;
            height: 1.125em;
            border-top: 0.695em double #0d889b;
            border-bottom: 0.265em solid #0d889b;
        }
    }
}

nav.nav-main {
    background: url('../images/topmenu_bg.png') repeat;
    padding: 6px 0;
    height: 53px;
    ul {
        list-style-type:none;
        margin:0;
        padding:0;
        text-align: left;
    }
    li {
        display:inline-block;
        border-right:solid 1px darken($color, 10%);
        padding:0 5px;
        &:last-child {
            border-right:none;
        }
    }
    a {
        display:block;
        color:rgb(255,255,255);
        padding:10px 5px;
        text-decoration: none;
        @include font(calibri, normal, 300);
        font-size: 16px;
        &:hover {
            background-color:darken($color, 5%);
            color:#fff;
        }
        @include scr-1024 {
            padding:10px 30px;
        }
    }
}
nav.nav-mobile {
    position: relative;
    display: none;
    ul {
        display: none;
        list-style-type: none;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background-color: $color;
        z-index: 2;
        top: -10px;
    }
    li {
        display: block;
        padding: 5px 0;
        margin: 0 5px;
        border-bottom: solid 1px darken($color, 10%);
        &:last-child {
            border-bottom:none;
        }
    }
    a {
        display: block;
        color: rgb(255,255,255);
        padding: 10px 30px;
        &:hover {
            background-color: darken($color, 5%);
            color: #fff;
        }
    }
}

/*------------------------------Banner-----------------------------*/
.banner {
    width: 100%;
    position: relative;
}
.banner-wrapper {
    position: relative;
    display: block;
    color: #fff;
    overflow: hidden;
    height: 427px;
    @include scr-767 {
        height: auto;
    }
    margin: 5px 0 20px 0;
    z-index: 1;
    background: #000;
    &::after {
        background: url("../images/IMG_3146.jpeg") no-repeat;
        width: 100%;
        background-size: cover;
        height: 427px;
        margin: 0;
        content: "";
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    .container {
        @include scr-767 {
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
}


/*---------------------------SLIDER-------------------------*/
.slider-container {
  width: 100%;
  position: relative;
    .slider-wrapper {
        background-color: white;
        width: 100%;
        display: inline-block;
        display: none;
    }
    img {
        width: 100%;
        height: auto;
    }
    .slider-btn-wrapper {
        position: absolute;
        left: 25px;
        bottom: 60px;
        @include scr-767 {
            left: 15px;
        }
        button {
            position: absolute;
            border: none;
            cursor: pointer;
            outline: none;
            text-indent: -9999px;
            width: 31px;
            height: 30px;
            background: url('../images/banner_navigation.png') no-repeat;
        }
        .next {
            left: 40px;
            background-position: -32px 0;
        }
        .prev {
            left: 5px;
            background-position: 0 0;
        }
    }
}

.slider {
    
    p {
        color: #000;
    }

}

.slider-content {
    float: left;
    width: 37.6953125%;
    padding: 30px;
    background: #0985f9;
    height: 427px;
    @include scr-1084 {
        width: 37%;
    }
    @include scr-767 {
        width: 100%;
        height: auto;
        padding: 15px 15px 80px 15px;
    }
    h3 {
        @include font(RobotoSlab-Bold, normal, 300);
        font-size: 34px;
        color: #fefefe;
        @include scr-767 {
            font-size: 20px;
        }
    }
    p {
        @include font(OpenSans-Regular, normal, 300);
        font-size: 16px;
        color: #fefefe;
    }
    a {
        padding: 10px 0;
        float: left;
        color: #fff;
        text-decoration: underline;
    }
}

.slider-img {
    float: right;
    width: 62.109375%;
    margin: 0 0 0 2px;
    @include scr-1084 {
        width: 63%;
        margin: 0;
    }
    @include scr-767 {
        width: 100%;
    }
    img {
        height: 427px !important;
        @include scr-767 {
            height: auto !important;
        }
    }
}
/*--------------------------SHELL----------------------------------*/

.news-column {
    max-width: 333px;
    padding: 0;
}
.shell .row {
    margin: 0 -6px;
}
.shell .column-4 {
    padding: 0 6px;
}
.shell .thumbnail {
    h4{
        &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -4px;
            background: #616161;
            height: 2px;
            width: 10px;
        }
    }
    .image-container {
        float: left;
        width: 100%;
        padding: 10px 0 0 0;
        img{
            max-height: 223px;
            border: 1px solid #cecece;
            border-radius: 5px;
        }
    }
    .content-container {
        float: left;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px dotted black;
        h5 {
            @include font(georgiai, normal, 300);
            font-size: 14px;
            color: #888888;
            span {
                vertical-align: middle;
                display: inline;
                padding: 0 0 0 10px;
            }
            img {
                vertical-align: middle;
                display: inline;
            }
        }
        p{
            @include font(calibrii, normal, 300);
            font-size: 15px;
            color: #555555;
        }
    }
    a   {
        float: right;
        @include font(calibrii, normal, 300);
        font-size: 14px;
        color: #ff6c00;
        span {
                vertical-align: middle;
                display: inline;
                padding: 0 0 0 10px;
            }
        img {
            vertical-align: middle;
            display: inline;
        }
    }
}

/*----------------------ALERTS---------------------*/
.alerts-container,
.testimonial-container,
.learning-container {
    float: left;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    @include border-radius(5px);
}
.alerts-container,
.learning-container {
    background: #0f9fff;
}
.testimonial-container {
    background: #0576f6;
}
.content-shell h4 {
    margin: 5px;
    color: #fff;
    padding: 0 0 0 36px;
    font-size: 27px;
    @include font(calibri, normal, 300);
    @include scr-1023 {
        font-size: 17px;
    }
}
.alerts-container h4 {
    background: url('../images/alert_ico.png') no-repeat;
}
.testimonial-container h4 {
    background: url('../images/testimonials_ico.png') no-repeat;
}
.learning-container h4 {
    background: url('../images/learnworkshop_ico.png') no-repeat;
}
.blog-thumb {
    float: left;
    width: 100%;
    padding: 10px;
    border: 1px solid #0096ea;
    margin: 5px 0;
    background: #0096ea;
    .thumb-img {
        float: left;
        position: relative;
        margin-right: 15px;
        @include scr-840 {
            margin-right: 7px;
        }
        img {
            width: 110px;
            @include scr-925 {
                width: 80px;
            }
            @include scr-840 {
                width: 60px;
            }
        }
    }
    .thumb-desc {
        overflow: hidden;
        .date {
            @include font(georgiaz, italic, 300);
            color: #fcfee9;
            font-size: 14px;
        }
        p{
            padding: 5px 0;
            color: #fff;
            font-size: 12px;
            @include font(HelveticaNeueLight, normal, 300);
        }
    }
}
.blog-thumb {
    background: #0099ff;
}
.thumb-heading {
    @include font(HelveticaNeueBold, normal, 300);
    font-size: 13px;
    color: #c0e8ff;
}

/*---------------PROSPECTIVE STUDENTS--------------------*/
.illustrations {
    margin: 30px 0;
    .illustration-cnt {
        display: table;
        width: 100%;
        @include scr-767 {
                margin: 10px 0;
            }
    }
    .inner-illustration-cnt {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        width: 100%;
        height: 120px;
        line-height: 35px;
        @include border-radius(5px);
        @include scr-925 {
                height: 80px;
            }
        span {
            padding: 0 120px 0 10px;
            float: left;
            font-size: 34px;
            color: #fff;
            line-height: 1.2;
            @include font(calibrib, normal, 300);
            @include scr-1084 {
                font-size:25px;
            }
            @include scr-925 {
                font-size:20px;
            }
        }
        img {
            position: absolute;
            right: 0;
            bottom: 0;
            @include scr-925 {
                width: 100px;
            }
        }
    }
    .prospective-students-cnt .inner-illustration-cnt {
        background: #ff9500;
    }
    .publications-cnt .inner-illustration-cnt {
        background: #ed4400;
    }
    .media-rooms-cnt .inner-illustration-cnt {
        background: #00c0f0;
    }
}

/*----------------FOOTER-------------------*/
footer {
    color: #fff;
    .footer {
        background: #262626;
        padding: 40px 0;
        h6 {
            font-size: 18px;
            @include font(calibrib, normal, 300);
            margin: 0 0 20px 0;
        }
        p,a {
            font-size: 15px;
            @include font(calibrii, italic, 300);
            color: #fff;
        }
        a {
            text-decoration: none;
        }
        ul {
            padding: 0 0 0 18px;
        }
        .social-links {
            margin: 10px 0 0 0;
            ul {
                padding: 0;
            }
            li {
            padding: 0;
            vertical-align: top;
            display: inline;
            a {
                display: inline-block;
            }
            .social-ico {
                width: 28px;
                height: 28px;
                display: inline-block;
                background-image: url('../images/socialIcon_bottom.png');
            }
        }
        .youTube-icon {
            background-position: -1px -1px;
        }
        .facebook-icon {
            background-position: -34px -1px;
        }
        .linkedIn-icon {
            background-position: -66px -1px;
        }
        .twitter-icon {
            background-position: -98px -1px;
        }

        }

        
    }
    .footer-copyright {
        padding: 15px 0;
        background: #181818;
        font-size: 13px;
        @include font(calibri, normal, 300);
        .terms-menu {
            li {
                display: inline;
                padding: 0 15px 0 0;
                a {
                    color: #fff;
                }
            }
        }
    }
}

/* =Media Queries
-------------------------------------------------------------- */
@media (max-width: 767px) {
    
    .nav-trigger {
        display:block;
    }
    nav.nav-main {
        display:none;
    }
    nav.nav-mobile {
        display: block;
    }

}

@media #{$breakpoint-small} {
    @for $i from 1 through $grid-columns {      
        .column-#{$i} {         
            width: 100% / $grid-columns * $i;   
        }           
    }   
}
@media #{$breakpoint-medium} {
    
}

@media only screen and (max-width: 771px) {
    .top-menu-wrapper {
        display: none;
    }
    .mob-right-search {
    background: url("../images/search_icon.png") no-repeat;
    padding: 0px 25px 0px 16px;
    height: 28px;
    right: 58px;
    top: 28px;
    position: absolute;
    background-size: 30px;
}
}
#search_mini_form .search-button {
    text-indent: -9999px;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: 0;
    background: none;
}
#hss .input-text {
    border: 1px solid #D5D8D9;
    padding: 0px 50px;
    height: 50px;
    font-size: 17px;
    color: #A2A2A2;
    width: 100%;
}
#search_mini_form label {
    display: none;
}
#search_mini_form .input-box {
    position: relative;
    padding-top: 0;
}
.head-search-show {
    display: none;
    float: left;
    width: 100%;
}
#mob-search-btn
{
    height: 50px;
    width: 50px;
    position: absolute;
    margin-left: -16px;
    right: 0px;
    z-index: 1;
}
.banner {
    transition: top 0.2s linear;
    top: 0;
}
